<div>   
    <button class="btn btn-primary icon-whatsapp tooltip1" (click)="GeneralEvent(1)"><span class="tooltiptext">Go to my whatsapp</span></button> &nbsp;
    <button class="btn btn-primary icon-telegram tooltip1" (click)="GeneralEvent(2)"><span class="tooltiptext">Go to my telegram</span></button> &nbsp;
    <button class="btn btn-primary icon-linkedin tooltip1" (click)="GeneralEvent(3)"><span class="tooltiptext">Go to my linkedin</span></button> &nbsp;
    <button class="btn btn-primary icon-github tooltip1" (click)="GeneralEvent(4)"><span class="tooltiptext">Go to my github</span></button> &nbsp;
</div>