<div>   
    <button class="btn btn-primary icon-facebook tooltip1" (click)="playSound()"><span class="tooltiptext">Go to my facebook</span></button> &nbsp;
    <button class="btn btn-primary icon-instagram tooltip1" (click)="playSound()"><span class="tooltiptext">Go to my instagram</span></button> &nbsp;
    <button class="btn btn-primary icon-twitter tooltip1" (click)="playSound()"><span class="tooltiptext">Go to my twitter</span></button> &nbsp;
    <button class="btn btn-primary icon-whatsapp tooltip1" (click)="playSound()"><span class="tooltiptext">Go to my whatsapp</span></button> &nbsp;
    <button class="btn btn-primary icon-telegram tooltip1" (click)="playSound()"><span class="tooltiptext">Go to my telegram</span></button> &nbsp;
    <button class="btn btn-primary icon-linkedin tooltip1" (click)="playSound()"><span class="tooltiptext">Go to my linkedin</span></button> &nbsp;
    <button class="btn btn-primary icon-github tooltip1" (click)="playSound()"><span class="tooltiptext">Go to my github</span></button> &nbsp;
</div>