<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/ProfilePhoto.png" alt="Photo not found" class="img-fluid" id="profilePhotos" />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sergio Garzón</p>
        <p>Software and video games developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me...</h1>
            <p> I consider myself a responsible person, proactive with ease of adaptation and teamwork. I have a big passion for technology. I find interest in challenges.</p>
        </span>
    </div>
</div>