<div class="row">
    <h1>Work Experience</h1>

    <div class="col-lg-1"></div>
    
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1><h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta delectus beatae 
                enim neque tempore ratione, dolor similique iste quos ullam, tenetur modi reiciendis minima nihil dolores quidem nulla animi?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1><h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta delectus beatae 
                enim neque tempore ratione, dolor similique iste quos ullam, tenetur modi reiciendis minima nihil dolores quidem nulla animi?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1><h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta delectus beatae 
                enim neque tempore ratione, dolor similique iste quos ullam, tenetur modi reiciendis minima nihil dolores quidem nulla animi?</p>
        </ul>
    </div>
</div>