<div class="row">
   <h1>
        Skill
    </h1>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../../assets/Images/html.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#F06C0A'"
      [innerStrokeColor]="'#F2A266'"      
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../../assets/Images/css.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="75"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#0B115E'"
      [innerStrokeColor]="'#4F5BE8'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../assets/Images/javascript.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#EDE502'"
      [innerStrokeColor]="'#FAF68C'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="100"
      [imageSrc]="'../../assets/Images/nodejs.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../../assets/Images/expressjs.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#737365'"
      [innerStrokeColor]="'#B5B5B1'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../assets/Images/angular.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#EB0707'"
      [innerStrokeColor]="'#F58C8C'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../assets/Images/react.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#10BEDE'"
      [innerStrokeColor]="'#9DECFA'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../assets/Images/java.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#0612BD'"
      [innerStrokeColor]="'#A10808'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../assets/Images/spring-framework.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#11BA61'"
      [innerStrokeColor]="'#7DF0B3'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'../../assets/Images/spring-boot.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#11BA61'"
      [innerStrokeColor]="'#7DF0B3'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>



</div>
